<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AddressBookMapper">
    <insert id="insert">
        insert into sky_take_out.address_book
        (address_book.user_id, address_book.consignee, address_book.sex, address_book.phone, address_book.province_code, address_book.province_name, address_book.city_code, address_book.city_name, address_book.district_code, address_book.district_name, address_book.detail, address_book.label)
        values (#{userId},#{consignee},#{sex},#{phone},#{provinceCode},#{provinceName},#{cityCode},#{cityName},#{districtCode},#{districtName},#{detail},#{label})
    </insert>
    <update id="update">
        update sky_take_out.address_book
        <set>
            <if test="consignee!=null">consignee=#{consignee},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="phone!=null">phone=#{phone},</if>
            <if test="provinceCode!=null">province_code=#{provinceCode},</if>
            <if test="provinceName!=null">province_name=#{provinceName},</if>
            <if test="cityCode!=null">city_code=#{cityCode},</if>
            <if test="cityName!=null">city_name=#{cityName},</if>
            <if test="districtCode!=null">district_code=#{districtCode},</if>
            <if test="districtName!=null">district_name=#{districtName},</if>
            <if test="detail!=null">detail=#{detail},</if>
            <if test="label!=null">label=#{label},</if>
            <if test="isDefault!=null">is_default=#{isDefault},</if>
        </set>
            where id=#{id}
    </update>
    <select id="getById" resultType="com.sky.entity.AddressBook">
        select * from sky_take_out.address_book
        <where>
            <if test="id!=null">and id=#{id}</if>
        </where>
    </select>
</mapper>