<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">
    <insert id="insert">
        insert into sky_take_out.order_detail (order_detail.name, order_detail.image,
                                               order_detail.order_id, order_detail.dish_id,
                                               order_detail.setmeal_id, order_detail.dish_flavor,
                                               order_detail.amount)
        values <foreach collection="orderDetailList" separator="," item="orderDetail">
                (#{orderDetail.name},#{orderDetail.image},#{orderDetail.orderId},
                #{orderDetail.dishId},#{orderDetail.setmealId},#{orderDetail.dishFlavor},#{orderDetail.amount})
    </foreach>
    </insert>
</mapper>